
*.html
__pycache__/app.cpython-311.pyc
app.py
Linear Regression V4(with scikit learn.py
text to speech.mp3
Linear Regression V4(with scikit learn.py
text_to_speech.mp3
Linear Regression V4(with scikit learn.py
*.py
Working.mp4
